[Unit]
Description=Logentries journal forwarder
After=systemd-journald.service
Requires=systemd-journald.service

[Service]
ExecStart=/bin/sh -c "curl --silent --unix-socket /var/run/journald.sock -H Accept:application/json http://journal/entries?follow | awk '{ print \"YOUR_LOGENTRIES_TCP_TOKEN\", $0; fflush(); }' | ncat data.logentries.com 10000"
TimeoutStartSec=0
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
